html, body {
    background-color: black;
    font-family: "Gill Sans";
    color: #FFFFFF;
    height:100%;
    vertical-align: middle;
}


.navbar-inverse {
    background-color: #000000;
    text-shadow:
            2px 2px 4px rgba(0, 0, 0, 1);
    margin: 0 0 0 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: medium;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(100,100,100,.1);
    color: #aaaaaa;
}

.nav-ribbon {
    background-image: url("../res/images/banner_ribbon.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    height: 35px;
    width: 100%;
    top: 60px;
    position: fixed;
}

.icon-top {
    height: 30px;
    width: 30px;
}
/*
*   Use responsive layout to call ribbons
*   For Desktop, laptops and tablet screens
*
*/
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 4em;
    }
    .side-ribbon {
        display: block;
        position: fixed;
        background-color: transparent;
        background-image: url("../res/images/side_ribbon.png");
        background-size: contain;
        background-repeat: repeat-y;
        height: 100%;
        width: 16%;
        max-width: 200px;
        margin-left: 30px;
        top: 100px;
        z-index: 2000;
    }
}

/*
*   For mobile screens
*/
@media screen and (max-width: 1000px) {
    .index-head {
        text-align: center;
    }
    body {
        font-size: 160%;

    }
    h1 {
        font-size: 2.3em;
    }
    td {
	font-size: 0.7em !important;
	height: 100px !important;
    }
    h2 {
        display: inline-block;
        vertical-align: middle;
        font-size: 130%;
	text-align: center;
	width: 100%;
    }
    .mobile-ribbon {
        display: block;
        background-color: transparent;
        background: no-repeat;
        background-position: center;
        background-image: url("../res/images/mobile_ribbon.png");
        background-size: 100px 100px;
        height: 100px;
    }
    .parchment {
        margin-left: 0;
	width: 100%;
    }
    div.container > div.row > div {
        margin-left: 0;
	width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .nav>li {
	display: inline-block
    }
    .nav-ribbon {
	display: none;
    }
}

@media screen and (max-width: 700px) {
    td {
	height: 70px !important;
    }
    #dayNames > td {
	font-size: 0.6em !important;
    }
}

@media screen and (max-width: 645px) {
    .events {
	display: none;
    }
    #calendar > tbody > tr  > td > div.miami-label {
	height: 0px !important;
    }
    #dayNames > td {
	
    }
    .moon-pic img {
	bottom: -14px !important;
    }
    div.full > div.moon-wrapper >  img {
	bottom: -25px !important;
    }
    div.container > div.row > div {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 20px;
    }
    .mobile-event {
	display: block !important;
    }
    .event-name.second {
	/*bottom: -15px !important;
	height: 32px;*/
	bottom: -34px !important;
        height: 72px;
        background: rgba(0, 0, 0, 0);
    }
    .event-name {
	width: 100% !important;
	padding: 0px !important;
	margin: 0px !important;
    }
    .mobile-circle {
	width: 25px;
        height: 25px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #D31014;
        z-index: 1;
        margin-top: 1px;
        float: right;
	margin-right: 1px;
    }
    .miami-label-inner {
	width: 20px;
        text-align: center;
        padding-top: 2px;
    	float: right;
	margin-right: -2px;
    }
    .white {
	color: white;
    }
    .miami-label, .mobile-circle, .moon-pic {
	pointer-events: none;
    }
    .gregDate {
	font-size: 1.2em !important;
    }
}

.myaamia-yellow {
    color: #ffff80;
}
/*
*   Parchment Background for text
*/
.parchment {
    background-image: url("../res/images/parchment.jpg");
    background-size: 100%;
    background-repeat: repeat;
    color: #000000;
    padding: 35px;
}
