html, body {
    background-color: black;
    font-family: "Gill Sans";
    color: #FFFFFF;
    height:100%;
    vertical-align: middle;
}


.navbar-inverse {
    background-color: #000000;
    text-shadow:
            2px 2px 4px rgba(0, 0, 0, 1);
    margin: 0 0 0 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: medium;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(100,100,100,.1);
    color: #aaaaaa;
}

.nav-ribbon {
    background-image: url("../res/images/banner_ribbon.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    height: 35px;
    width: 100%;
    top: 60px;
    position: fixed;
}

.icon-top {
    height: 30px;
    width: 30px;
}
/*
*   Use responsive layout to call ribbons
*   For Desktop, laptops and tablet screens
*
*/
@media screen and (min-width: 780px) {
    h1 {
        font-size: 4em;
    }
    .side-ribbon {
        display: block;
        position: fixed;
        background-color: transparent;
        background-image: url("../res/images/side_ribbon.png");
        background-size: contain;
        background-repeat: repeat-y;
        height: 100%;
        width: 16%;
        max-width: 200px;
        margin-left: 30px;
        top: 100px;
        z-index: 2000;
    }
}

/*
*   For mobile screens
*/
@media screen and (max-width: 780px) {
    .index-head {
        text-align: center;
    }
    body {
        font-size: 160%;

    }
    h1 {
        font-size: 2.3em;
    }
    h2 {
        display: inline-block;
        vertical-align: middle;
        font-size: 110%;
    }
    .mobile-ribbon {
        display: block;
        background-color: transparent;
        background: no-repeat;
        background-position: center;
        background-image: url("../res/images/mobile_ribbon.png");
        background-size: 100px 100px;
        height: 100px;
    }
}

.myaamia-yellow {
    color: #ffff80;
}
/*
*   Parchment Background for text
*/
.parchment {
    background-image: url("../res/images/parchment.jpg");
    background-size: 100%;
    background-repeat: repeat;
    color: #000000;
    padding: 35px;
}